@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 3;
    color: rgb(36, 36, 36);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-wrap: pretty;
  }

  .background {
    width: 100%;
    height: 100vh;
    background-image: url(/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    margin-top: 24rem;
    opacity: .6;
    z-index: 1;
  }

  .overlay {
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1 {
    font-size: clamp(28px, 6vw, 52px);
    font-weight: 300;
    line-height: 1.2;
  }

  h2 {
    line-height: 1.6;
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 300;
  }

  h3 {
    font-size: clamp(20px, 2vw, 24px);
    line-height: 1.4;
    font-weight: 600;
  }

  p {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    line-height: 1.4;
    color: rgb(36, 36, 36, 0.6);
  }

  span {
    font-weight: 400;
    font-size: clamp(18px, 2vw, 20px);
    line-height: 1.8;
  }

  a,
  button {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms linear;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
  }

  .button {
    background: rgb(36, 36, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10rem;
    height: 2.5rem;
    transition: 300ms ease;
  }

  .button:hover {
    opacity: 0.85;
    transform: translateY(-5px);
  }

  input,
  textarea {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    width: 100%;
    border: 0px;
    background: #00000006;
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 300ms ease;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background: #00000010;
  }

  ::placeholder {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 400;
    line-height: 1.4;
    color: rgb(36, 36, 36, 0.4);
  }

  form {
    width: 100%;
    margin-bottom: 4rem;
    flex-direction: column;
    gap: 0.4rem;
  }

  nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 2rem;
    transition: 0.3s;
    width: 100%;
    z-index: 4;
  }

  .nav {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .nav-slider {
    position: absolute;
    background: rgb(36, 36, 36);
    height: 2.5rem;
    width: 6rem;
    z-index: 1;
    transition: transform 0.3s ease;
  }

  .nav-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: .25rem;
    background: #00000006;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 0rem;

    a,
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 6rem;
      z-index: 2;
    }
  }

  .detail {
    opacity: 0;
    width: 12rem;
    margin-top: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: #ffffff40;
    color: white;
    transition: 300ms ease-out;
  }

  .container-holder,
  .project-holder,
  .loader-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .loader-holder {
    min-height: 100vh;
  }

  .container-holder {
    position: relative;
  }

  .container-services {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.4rem;
    flex-wrap: wrap;
  }

  .services {
    width: 100%;
    background: #00000006;
    padding: 2rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-align: left;
  }

  #fade {
    animation: fade 750ms ease-in-out forwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: translateY(5%)
    }

    100% {
      opacity: 1;
      transform: translateY(0%)
    }
  }

  .project-holder {
    gap: 0.4rem;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 4rem;
    text-align: left;
    justify-content: center;
  }

  .project-title {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 4;

    p {
      display: none;
    }
  }

  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: #00000006;
    overflow: hidden;
    max-width: auto;
    padding: 2rem;
    transition: 150ms linear;
    width: 100%;
  }

  .project-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: #ffffff40;
    width: 2.5rem;
    aspect-ratio: 1/1;
    z-index: 4;
  }

  .img {
    width: 100%;
    transition: 500ms ease-out;
  }

  .project:hover {
    transition: 150ms linear;

    .img {
      scale: 1.1;
    }

    .detail {
      opacity: 1;
    }
  }

  .container {
    width: 85%;
  }

  .container-splash {
    text-align: left;
    width: 90%;
  }

  .container-title {
    padding-top: 8rem;
    text-align: left;
    width: 90%;
  }

  .social-btn-holder {
    gap: 1rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* a {
      width: 3rem;
      aspect-ratio: 1/1;
      background: rgb(36, 36, 36);
      border-radius: 100rem;
    }

    a:hover {
      opacity: 0.85;
      transform: translateY(-5px);
    } */
  }

  .footer-holder {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: #00000006;
    margin-bottom: 4rem;
    width: 90%;
  }

  .footer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    flex-direction: row;
    padding: 1rem;
    padding-block: 1.5rem;
  }

  .embed-responsive {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
}

@media (min-width: 499px) {
  form {
    width: 500px;
  }
}

@media (min-width: 799px) {
  .footer-holder {
    width: 90%;
  }

  .footer {
    justify-content: space-between;
  }

  .container {
    width: 80%;
  }

  .project-title {
    left: 4rem;
    bottom: 4rem;

    p {
      display: flex;
    }
  }
}

@media (min-width: 999px) {
  .nav {
    justify-content: right;
  }

  .project {
    padding: 4rem;
    max-width: 960px;
    width: 45%;
  }

  .container-services {
    width: 90%;
  }

  .services {
    width: 49%;
    padding: 4rem;
  }
}

@media (min-width: 1299px) {
  .project-holder {
    width: 60%;
  }

  .container-title,
  .container-splash {
    width: 60%;
  }
}

@media (min-width: 1499px) {
  .background {
    background-size: 100% 100%;
    margin-top: 24rem;
  }
}