@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: black;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1 {
    display: inline;
    color: whitesmoke;
    font-weight: 600;
    line-height: 1;
    font-size: clamp(64px, 14vw, 180px);
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h2,
  h3 {
    display: inline;
    color: whitesmoke;
    font-weight: 200;
    line-height: 1.4;
    font-size: clamp(24px, 4vw, 48px);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h3 {
    color: #f5f5f595;
    font-weight: 400;
    font-size: clamp(16px, 4vw, 20px);
    display: flex;
    align-items: center;
    line-height: 0;
  }

  p,
  span,
  a,
  button,
  li {
    display: inline;
    color: whitesmoke;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    line-height: 1.6;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  ul {
    width: fit-content;
  }

  li {
    display: block;
    width: fit-content;
  }

  .socials {
    li {
      display: inline-block;
    }
  }

  span {
    display: inline;
    font-size: 42px;
    line-height: 1.4;
  }

  a,
  button {
    text-decoration: none;
    width: fit-content;
    font-weight: 400;
    transition: 150ms linear;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
    transition: 150ms linear;
  }

  .formHolder {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form {
    width: 1280px;
    padding-block: 3rem;
    flex-direction: column;
    gap: 0.4rem;
    align-content: baseline;

    hr {
      margin: 0;
      width: 100%;
    }
  }

  .form-btn-holder {
    width: 100%;
    text-align: right;
  }

  .form-btn {
    color: whitesmoke;
    font-size: clamp(18px, 4vw, 24px);
  }

  input,
  textarea {
    all: unset;
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none;
    background: none;
    margin-bottom: 0.4rem;
    border: 1px solid #f5f5f540;
    font-weight: 400;
    font-size: clamp(16px, 2vw, 20px);
    padding-block: 1.2rem;
    padding-left: 1rem;
  }

  ::placeholder {
    color: #f5f5f560;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    transition: 0.3s;
    padding-bottom: 0rem;
    width: 100%;
    z-index: 3;
  }

  .nav-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #000000;
    width: 100%;
    padding-block: 1rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .container-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
  }

  .container {
    width: 90%;
    padding-block: 2rem;
  }

  .footer-links {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 2rem;
  }

  hr {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    border: 0px;
    border-top: 1px solid #f5f5f540;
    width: 60%;
  }

  .bio-holder1,
  .bio-holder2 {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    padding-bottom: 0rem;
    justify-content: space-between;
  }

  .content {
    padding-block: 1rem;
    width: 100%;
  }

  .bio-holder2 {
    padding-top: 0rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .image-holder {
    height: 385px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-subLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    width: 100%;
    height: 360px;
    z-index: 1;
  }

  .image-subRight {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    transform: translateY(0%);
    width: 100%;
    height: 360px;
    z-index: 1;
  }

  .image-main {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    transform: translateY(0%);
    width: 100%;
    height: 360px;
    z-index: 2;
    box-shadow: 0px 0px 8px 4px #00000010;
  }

  .image-btns {
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    margin-top: 1rem;
    color: #f5f5f595;
  }
}

@media (min-width: 1199px) {
  .nav-sub {
    gap: 4rem;
    padding-block: 2rem;
  }

  .container-holder {
    align-items: center;
  }

  .container {
    padding-block: 4rem;
  }

  .bio-holder1,
  .bio-holder2 {
    padding: 3rem;
    padding-bottom: 0rem;
  }

  .content {
    width: calc(100% / 3);
  }

  .image-holder {
    height: 601px;
  }

  .image-subLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(28%);
    width: 640px;
    height: 360px;
    z-index: 1;
  }

  .image-subRight {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    transform: translateY(28%);
    width: 640px;
    height: 360px;
    z-index: 1;
  }

  .image-main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1024px;
    height: 576px;
    z-index: 2;
    box-shadow: 0px 0px 8px 4px #00000010;
  }

  .image-btns {
    display: none;
  }

  hr {
    width: 275px;
  }

  input,
  textarea {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1599px) {
  .image-holder {
    height: 745px;
  }

  .image-main {
    width: 1280px;
    height: 720px;
  }

  .image-subLeft {
    transform: translateY(50%);
  }

  .image-subRight {
    transform: translateY(50%);
  }
}