@import url("https://api.fontshare.com/v2/css?f[]=switzer@100,101,200,201,300,301,400,401,500,501,600,601,700,701,800,801,900,901,1,2&display=swap");

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: whitesmoke;
  }

  ::-webkit-scrollbar-thumb {
    /* background: #070707; */

    background: #1a1a1a;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: whitesmoke;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    z-index: 2;
    font-family: 'Switzer', sans-serif;
    /* color: #070707; */

    color: #1a1a1a;
  }

  .background {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
  }

  button {
    all: unset;
    cursor: pointer;
    transition: 150ms linear;
  }

  h1,
  .header {
    font-weight: 500;
    line-height: 1;
    font-size: clamp(64px, 10vw, 160px);
  }

  .header {
    font-weight: 900;
    font-size: clamp(48px, 4vw, 64px);
  }

  h2 {
    font-weight: 300;
    line-height: 1.4;
    font-size: clamp(28px, 4vw, 48px);
  }

  p {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    line-height: 1.4;
  }

  span {
    font-weight: 500;
    font-size: clamp(24px, 2vw, 28px);
    line-height: 1.4;
  }

  a,
  button {
    line-height: 1.4;
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 300;
    text-decoration: none;
    width: fit-content;
    transition: 150ms linear;
  }

  a:hover,
  button:hover {
    opacity: 0.6;
    transition: 150ms linear;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    transition: 0.3s;
    padding-bottom: 0rem;
    width: 100%;
    z-index: 3;

    a,
    button {
      color: white;
      font-size: clamp(16px, 2vw, 22px);
      font-weight: 300;
    }
  }

  .nav-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    /* background: #070707; */

    background: #1a1a1a;
    border-radius: 100rem;
  }

  .nav-sub {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 5rem;
  }

  .nav-links {
    display: none;
  }

  .container-holder,
  .container-holder-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    margin-block: 2rem;
  }

  .container-holder-top {
    margin-block: 0rem;
    align-items: flex-end;
  }

  .container {
    width: 95%;
  }

  img {
    object-fit: cover;
    object-position: center center;
  }

  .img-sm,
  .img-lg {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    transition: 300ms ease-in-out;
  }

  .img-profile {
    border-radius: 100rem;
    width: 200px;
    height: 200px;
  }

  .social-btn-holder {
    gap: 0.6rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .social-btn {
    width: 4rem;
    height: 4rem;
    /* background: #070707; */

    background: #1a1a1a;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
  }

  .contact-btn {
    /* background: #070707; */

    background: #1a1a1a;
    color: white;
    border-radius: 100rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 300ms ease-in-out;
  }

  .social-btn:hover,
  .contact-btn:hover {
    opacity: 1;
    scale: 0.9;
    transition: 300ms ease-in-out;
  }

  .text-holder {
    width: 100%;
    padding-top: 0rem;
  }

  a:hover {

    .img-sm,
    .img-lg {
      scale: .98;
      border-radius: 3rem;
      transition: 300ms ease-in-out;
    }
  }
}

@media (min-width: 425px) {
  .img-sm {
    width: 400px;
    height: 720px;
  }
}

@media (min-width: 799px) {
  .nav-sub {
    width: 95%;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .container-title {
    width: 60%;
  }
}

@media (min-width: 1499px) {
  .nav-links {
    gap: 4rem;
  }

  .container {
    width: 80%;
  }

  .text-holder {
    width: 65%;
    padding-top: 4rem;
  }

  .img-lg {
    width: 1280px;
    height: 720px;
  }

  .img-profile {
    border-radius: 100rem;
    width: 400px;
    height: 400px;
  }

  .contact-btn {
    width: 400px;
    height: 400px;
  }
}